<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bickcraft - Contato - 19 9999-9999</title>

    <meta name="description" content="Compre sua bicicletqa personalizada na Bikcraft.
    Possuímos modelos Passeio, Retrô e Esporte.">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Bickcraft - Contato - 19 9999-9999" />
    <meta property="og:description" content="Compre sua bicicletqa personalizada na Bikcraft.
    Possuímos modelos Passeio, Retrô e Esporte."/>
    <meta property="og:url" content="https://bikcraft.com/contato.html" />
    <meta property="og:image" content="https://bikcraft.com/img/og-image.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">
    
  <script>document.documentElement.classList.add("js");</script>

</head>
<body>
  <header class="header">
      <div class="container">
          <a href="/" class="grid-4">
              <img src="../img/bikcraft.svg" alt="Bikcraft">
          </a>
          <nav class="grid-12 header_menu">
              <ul>
                <li><a href="sobre">sobre</a></li>
                <li><a href="produtos">produto</a></li>
                <li><a href="portfolio">portfólio</a></li>
                <li><a href="contato" class="menu_ativo">contato</a></li>
              </ul>
          </nav>
      </div>
  </header>

  <section class="introducao-interna  interna_contato">
      <div class="container">
          <h1>Contato</h1>
          <p>Tire suas dúvidas coma gente</p>
      </div>
  </section>
  <!-- Fechamento Section Indrodução Interna-->

  
  <section class="container">
     <div class="grid-8  emailerro">    
         <p><img  class="grid-10" src="../img/erro.png" alt="sucesso"></p>
    <p>Houve um erro ao enviar,volte e tente novamente!</p>
    <a href="/contato" class="btn" >Voltar</a>
</div>
          <div class="grid-8 contato_dados ">
              <h3>Dados</h3>
              <p>+55 21 99999-9999</p>
              <p>orçamento@bikcraft.com</p>
              <p>Rua Ali Perto - Botafogo</p>
              <p>Rio de Janeiro - RJ - Brasil</p>
            </div>
            <div class="grid-4 contato_dados">
                <h3>Redes Sociais</h3>
                <ul>
                    <li><a href="http://facebook.com" target="blank"><img src="../img/redes-sociais/facebook.svg" alt="Facebook"></a></li>
                    <li><a href="http://instagram.com" target="blank"><img src="../img/redes-sociais/instagram.svg" alt="Instagram"></a></li>
                    <li><a href="http://twiter.com" target="blank"><img src="../img/redes-sociais/twitter.svg" alt="Twiter"></a></li>
                </ul>
            </div>
  </section>

  <div class="container">
      <a class="mapa grid-16" target="blank" href="https://www.google.com.br">
      <img src="../img/endereco-bikcraft.jpg" alt="localização">
    </a>
  </div>

  <div class="quebra">
      <blockquote class=" quote-externo container">
          <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesses por todos os detalhes da vida cotidiana"</p>
          <cite>WILLIAM MORRIS</cite>
      </blockquote>
</div>

      <footer>
         <div class="footer">
             <div class="container">

                 <div class="grid-8 footer_historia">
                     <h3>Nossa História</h3>
                     <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. 
                         O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, 
                         quando uma misturou os caracteres de um texto para criar um espécime de livro.</p>
                 </div>

                 <div class="grid-4 footer_contato">
                     <h3>Contato</h3>
                     <ul>
                         <li>-21 99999-9999</li>
                         <li>-contato@bicraft.com</li>
                         <li>-São Paulo- SP</li>
                     </ul>
                 </div>

                 <div class="grid-4 footer_sociais">
                     <h3>Redes Sociais</h3>
                     <ul>
                         <li><a href="http://facebook.com" target="blank"><img src="../img/redes-sociais/facebook.svg" alt="Facebook"></a></li>
                         <li><a href="http://instagram.com" target="blank"><img src="../img/redes-sociais/instagram.svg" alt="Instagram"></a></li>
                         <li><a href="http://twiter.com" target="blank"><img src="../img/redes-sociais/twitter.svg" alt="Twiter"></a></li>
                     </ul>
                 </div>
             </div>
         </div> 

         <div class="copy">
             <div class="container">
                <p class="grid-16">Bikcraft 2020 - Alguns direitos reservados.</p>
             </div>
         </div>
      </footer>
   
  
  <script src="../js/simple-anime.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>